*~
generated-data
.DS_Store
Thumbs.db
.idea
*.pyc
*.mo
*.jar
.idea
logs
target
name/name
name/.sbtserver
name/.sbtserver.lock
name/sbt-ui.sbt
conf/application-*.conf
.idea
.idea_modules
/.classpath
/.name
/.settings
/RUNNING_PID
/*.iml
/out
*.lck
